@charset "UTF-8";
html {
  font-size: 62.5%;
}
body {
  background-color: #f4ebcb;
  color: #3a382c;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*, *::before, *::after {
  box-sizing: content-box;
}
.navbar-brand {
  font-size: 1.6rem;
}
