@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  padding: 30px;
  background: #c9c097 url('../images/bg.png') no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #211b09;
  text-decoration: none;
}
.item {
  width: 364px;
  margin-bottom: 4px;
  padding: 8px;
  background-color: #ede6d0;
  color: #211b09;
  border-radius: 5px;
  overflow: hidden;
}
.item .image {
  display: block;
  width: 100%;
}
.header {
  width: 362px;
  text-align: center;
  background-color: #211b09;
  color: #ede6d0;
  border: 2px solid;
}
.header .header-title {
  font-size: 2.2rem;
  margin-bottom: 5px;
}
.header .intro-text {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 9px;
}
.header .button {
  display: inline-block;
  width: 100px;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  background-color: #a3a297;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.4rem;
}
.button:hover {
  opacity: 0.9;
}
