@charset "UTF-8";
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  color: #3a382c;
  font-size: 1.6rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*, *::before, *::after {
  box-sizing: content-box;
}
.navbar-brand {
  font-size: 2.5rem;
  color: #f2964f !important;
  letter-spacing: 2px;
}
.nav-item {
  padding-left: 20px !important;
}
a {
  text-decoration: none !important;
  color: #3a382c;
  font-weight: bold;
}
a:hover {
  color: #f2964f;
}
.container {
  padding-top: 30px;
}
h3 {
  color: #3a382c;
  font-size: 2.2rem;
  font-weight: bold;
}
.member-wrapper {
  padding-bottom: 50px;
}
.flyer-wrapper {
  padding-bottom: 50px;
}
.button {
  display: inline-block;
  color: #3a382c;
  background-color: #f2964f;
  text-align: center;
  width: 70px;
  height: 30px;
  padding-top: 5px;
  box-shadow: 0 5px rgba(170, 109, 61, 1);
  -webkit-box-shadow: 0 5px rgba(170, 109, 61, 1);
  -ms-box-shadow: 0 5px rgba(170, 109, 61, 1);
}
.button:active {
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}
.button:hover {
  color: #3a382c;
}
h3 {
  display: inline-block;
}
.collapse-button {
  display: inline-block;
  color: #3a382c;
  background-color: #f2964f;
  text-align: center;
  width: 30px;
  height: 15px;
  padding-bottom: 6px;
  box-shadow: 0 2.5px rgba(170, 109, 61, 1);
  -webkit-box-shadow: 0 2.5px rgba(170, 109, 61, 1);
  -ms-box-shadow: 0 2.5px rgba(170, 109, 61, 1);
}
.collapse-button:active {
  transform: translateY(2.5px);
  -webkit-transform: translateY(2.5px);
  -ms-transform: translateY(2.5px);
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}
.collapse-button:hover {
  color: #3a382c;
}
/* overwrite bootstrap.css */
.collapsing {
  transition: height 0.15s ease;
  -webkit-transition: height 0.15s ease;
  -ms-transition: height 0.15s ease;
}
